* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  width: 11.1%;
  height: 11.1%;
  border: 1px solid orange;
}


.player {
  background-color: red;
}


.aliens {
  background-color: blue;
}

.lazer {
  background-color: yellow;
}

.bomb {
  background-color: black;
}

.pop-win {
  position: absolute;
  z-index: 2;
  height: 400px;
  width: 600px;
  background-color: coral;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Button */
a {
  padding: 10px; 
  margin: 20px;
  background-color: black;
  color: white;
}